# Quick introduction

gliderpy can be installed with conda

```
conda install --channel conda-forge gliderpy
```

or pip

```
pip install gliderpy
```

gliderpy aims to make querying and downloading glider data easier.
Here is how one would build a query using `erddapy`:

In [1]:
from erddapy import ERDDAP

e = ERDDAP(
    server="https://gliders.ioos.us/erddap",
    protocol="tabledap",
    response="csv",
)
e.dataset_id = "whoi_406-20160902T1700"

e.variables = [
    "depth",
    "latitude",
    "longitude",
    "salinity",
    "temperature",
    "time",
]

df = e.to_pandas(
    index_col="time (UTC)",
    parse_dates=True,
)
df.head()

,depth (m),latitude (degrees_north),longitude (degrees_east),salinity (1),temperature (Celsius)
time (UTC),,,,,
2016-09-02 17:05:38+00:00,6.43,41.120018,-71.017118,32.079258,20.5407
2016-09-02 17:05:38+00:00,7.82,41.120018,-71.017118,32.095406,20.5071
2016-09-02 17:05:38+00:00,8.69,41.120018,-71.017118,32.111920,20.4904
2016-09-02 17:05:38+00:00,9.54,41.120018,-71.017118,32.126587,20.4897
2016-09-02 17:05:38+00:00,10.32,41.120018,-71.017118,32.140717,20.4909

With gliderpy attain the same output as erddapy with fewer lines and a cleaner UI.

In [2]:
from gliderpy.fetchers import GliderDataFetcher

glider_grab = GliderDataFetcher()

glider_grab.fetcher.dataset_id = "whoi_406-20160902T1700"
df = glider_grab.to_pandas()
df.head()

,pressure,latitude,longitude,salinity,temperature,dataset_url
time,,,,,,
2016-09-02 17:05:38+00:00,6.43,41.120018,-71.017118,32.079258,20.5407,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-02 17:05:38+00:00,7.82,41.120018,-71.017118,32.095406,20.5071,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-02 17:05:38+00:00,8.69,41.120018,-71.017118,32.111920,20.4904,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-02 17:05:38+00:00,9.54,41.120018,-71.017118,32.126587,20.4897,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-02 17:05:38+00:00,10.32,41.120018,-71.017118,32.140717,20.4909,https://gliders.ioos.us/erddap/tabledap/whoi_4...

The variable names are also standardised by gliderpy

### Single dataset

`gliderpy` can subset the data on the server side by passing a geographic bounding box and time interval.

In [3]:
glider_grab = GliderDataFetcher()
glider_grab.fetcher.dataset_id = "whoi_406-20160902T1700"
glider_grab.query(38, 41, -72, -69, "2016-09-20T01:00:00", "25th sept 2016")

df = glider_grab.to_pandas()
df.head()

,pressure,latitude,longitude,salinity,temperature,dataset_url
time,,,,,,
2016-09-20 01:52:37+00:00,5.12,40.997719,-70.946457,32.844220,19.5836,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-20 01:52:37+00:00,5.83,40.997719,-70.946457,32.788895,19.4810,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-20 01:52:37+00:00,6.90,40.997719,-70.946457,32.543550,19.0221,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-20 01:52:37+00:00,7.62,40.997719,-70.946457,32.582150,18.7567,https://gliders.ioos.us/erddap/tabledap/whoi_4...
2016-09-20 01:52:37+00:00,8.33,40.997719,-70.946457,32.714066,18.6578,https://gliders.ioos.us/erddap/tabledap/whoi_4...

### Multiple datasets

If a user does not specify a `dataset_id`, `gliderpy` will search all datasets for data that falls within the query bounds.

In [4]:
glider_grab = GliderDataFetcher()

glider_grab.query(10, 40, -90, 8, "2010-01-01", "2013-06-02")
df = glider_grab.to_pandas()
df.head()

,pressure,latitude,longitude,salinity (1e-3),temperature,dataset_url
time,,,,,,
2013-03-05 22:46:47+00:00,1.22,39.124726,-73.958488,34.211002,7.1495,https://gliders.ioos.us/erddap/tabledap/ru23-2...
2013-03-05 22:46:47+00:00,NaN,39.124726,-73.958488,NaN,NaN,https://gliders.ioos.us/erddap/tabledap/ru23-2...
2013-03-05 22:46:47+00:00,NaN,39.124726,-73.958488,NaN,NaN,https://gliders.ioos.us/erddap/tabledap/ru23-2...
2013-03-05 22:46:47+00:00,1.62,39.124726,-73.958488,34.212910,7.1487,https://gliders.ioos.us/erddap/tabledap/ru23-2...
2013-03-05 22:46:47+00:00,NaN,39.124726,-73.958488,NaN,NaN,https://gliders.ioos.us/erddap/tabledap/ru23-2...

### Dataset search

One can query all datasets available.

In [5]:
from gliderpy.fetchers import DatasetList

datasets = DatasetList()
ds_ids = datasets.get_ids()

print(f"found {len(ds_ids)} glider datasets on the server {datasets.e.server}")

found 1496 glider datasets on the server https://gliders.ioos.us/erddap