# Example 0.1: plain erddappy

Copied from the [errdappy intro](https://ioos.github.io/erddapy/quick_intro-output.html#Longer-introduction)

In [1]:
from erddapy import ERDDAP


e = ERDDAP(
    server="https://gliders.ioos.us/erddap",
    protocol="tabledap",
    response="csv",
)
e.dataset_id = "whoi_406-20160902T1700"

e.variables = [
    "depth",
    "latitude",
    "longitude",
    "salinity",
    "temperature",
    "time",
]

e.constraints = {
    "time>=": "2016-07-10T00:00:00Z",
    "time<=": "2017-02-10T00:00:00Z",
    "latitude>=": 38.0,
    "latitude<=": 41.0,
    "longitude>=": -72.0,
    "longitude<=": -69.0,
}

In [2]:
df = e.to_pandas(
    index_col="time (UTC)",
    parse_dates=True,
).dropna()

df.head()

,depth (m),latitude (degrees_north),longitude (degrees_east),salinity (1),temperature (Celsius)
time (UTC),,,,,
2016-09-03 20:15:46+00:00,5.35,40.990881,-71.12439,32.245422,20.6620
2016-09-03 20:15:46+00:00,6.09,40.990881,-71.12439,32.223183,20.6512
2016-09-03 20:15:46+00:00,6.72,40.990881,-71.12439,32.237950,20.6047
2016-09-03 20:15:46+00:00,7.37,40.990881,-71.12439,32.235470,20.5843
2016-09-03 20:15:46+00:00,8.43,40.990881,-71.12439,32.224503,20.5691

# Example 0.2: class wrapping erddapy
Emulating the UI of [argopy](https://github.com/euroargodev/argopy)

In [3]:
class GliderDataFetcher(object):
    """ Fetch gldier data
    Currently harcoded to search oos server only
    Default variables and glider dataset id provided
    """

    def __init__(self,
                 mode: str = "",
                 src: str = "",
                 ds: str = "",
                 **fetcher_kwargs):
        self.fetcher = ERDDAP(
                       server="https://gliders.ioos.us/erddap",
                       protocol="tabledap",
                       response="csv",
                       )
        self.fetcher.variables = [
                            "depth",
                            "latitude",
                            "longitude",
                            "salinity",
                            "temperature",
                            "time",
                            ]
        self.constraints = None
        self.fetcher.dataset_id = "whoi_406-20160902T1700"

In [4]:
glider_grab = GliderDataFetcher()

df = glider_grab.fetcher.to_pandas(
    index_col="time (UTC)",
    parse_dates=True,
).dropna()

df.head()

,depth (m),latitude (degrees_north),longitude (degrees_east),salinity (1),temperature (Celsius)
time (UTC),,,,,
2016-09-02 17:05:38+00:00,6.43,41.120018,-71.017118,32.079258,20.5407
2016-09-02 17:05:38+00:00,7.82,41.120018,-71.017118,32.095406,20.5071
2016-09-02 17:05:38+00:00,8.69,41.120018,-71.017118,32.111920,20.4904
2016-09-02 17:05:38+00:00,9.54,41.120018,-71.017118,32.126587,20.4897
2016-09-02 17:05:38+00:00,10.32,41.120018,-71.017118,32.140717,20.4909

Try with a different datset

In [5]:
glider_grab = GliderDataFetcher()
glider_grab.fetcher.dataset_id = "sp022-20170209T1616"

df = glider_grab.fetcher.to_pandas(
    index_col="time (UTC)",
    parse_dates=True,
).dropna()

df.head()

,depth (m),latitude (degrees_north),longitude (degrees_east),salinity (1),temperature (Celsius)
time (UTC),,,,,
2017-02-09 17:44:45+00:00,103.299385,25.77845,-80.03365,35.982,18.032
2017-02-09 17:44:45+00:00,102.187210,25.77845,-80.03365,36.000,18.274
2017-02-09 17:44:45+00:00,101.194190,25.77845,-80.03365,36.073,19.066
2017-02-09 17:44:45+00:00,100.161446,25.77845,-80.03365,36.155,20.375
2017-02-09 17:44:45+00:00,99.049250,25.77845,-80.03365,36.201,20.980

# Example 0.3: implement time and space constraints